<%= link_to("<< Back to list", subjects_path, :class => "back-link") %>

<div class="subjects edit">
  <h2>Update Subject</h2>

  <%= form_for(@subject) do |f| %>
    <table summary = "Subject from fields">
      <tr>
        <th> Name </th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th> Position </th>
        <td><%= f.text_field(:position) %></td>
      </tr>
      <tr>
        <th> Visible </th>
        <td><%= f.text_field(:visible) %></td>
      </tr>
    </table>

    <%= f.submit("Update Subject") %>
  <% end %>


</div>
